.clock-wrapper {
    position: absolute;
    bottom: 5px;
    right: 5px;

    .clock {
        background-color: var(--background-floating);
        color: var(--text-normal);
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 0.8em;
    }
}